.favorites{
    border: 1px solid white;
    width: 200px;
    height: 300px;
    margin:40px;
    
    display: grid;
    padding: 20px;
}
.fav-list{
    display: flex;
}
.show-det{
    background-color: rgb(30, 53, 100);
    color:white;
    font-size: 20px;
    height: 40px;
    border: 1px solid white;
    border-radius: 24px;
}
#favorites-title{
    transform: translate(880px,-30px);
}
@media only screen and (max-width: 600px) {
    .fav-list{
        display: flex;
        flex-direction: column !important;
        align-items: center;
       
    }
    #favorites-title{
        transform: translateX(1px);
    } 
}